<div class="test-container">
    <div class="question-container">
        <h3>{{category}}</h3>
        <h3>{{question}}</h3>

        <form action="/trivia/questions/{{_id}}" method="post">

            <div class="selection">
                <label for="choices">{{choices.[0]}}
                    <input type="radio" name="choices" value="{{choices.[0]}}">
                </label>
            </div>

            <div class="selection">
                <label for="choices">{{choices.[1]}}
                    <input type="radio" name="choices" value="{{choices.[1]}}">
                </label>
            </div>

            <div class="selection">
                <label for="choices">{{choices.[2]}}
                    <input type="radio" name="choices" value="{{choices.[2]}}">
                </label>
            </div>

            <div class="selection">
                <label for="choices">{{choices.[3]}}
                    <input type="radio" name="choices" value="{{choices.[3]}}">
                </label>
            </div>

            <div class="button-container">
                <button><i class="fa-solid fa-chevron-right"></i></button>
            </div>

        </form>
    </div>
</div>

<style>
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: #66a6ff;
  font-size: 16px;
  overflow: hidden;
}

.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.selection {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
  border: 2px solid white;
  padding-left: 40px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

label {
  position: relative;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  user-select: none;
  z-index: 22;
}

input[type=radio] {
  position: absolute;
  padding: 25px 25px;
  z-index: 23;
  background: white;
  appearance: none;
  left: -64px;
  top: -8px;
  border: 2px solid white;
  border-radius: 50%;
  transition: background 150ms ease-in;
}
input[type=radio]:hover {
  background: #f6e4f6;
}
input[type=radio]:checked {
  background: #66a6ff;
} 
.button-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
}
button {
  cursor: pointer;
  padding: 16px 20px;
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  transition: background 150ms ease;
}
button:hover {
  background: #4d97ff;
}
</style>